name: Build and Test
 
on:
  pull_request:
    branches:
      - main
  push:
    branches:    
    - main 

  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: pnpm/action-setup@v2
      name: Install pnpm
      id: pnpm-install
      with:
        version: 8.6.11
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile]

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.8.1
      with:
        node-version: ${{ matrix.node-version }}
        check-latest: true

    - name: Build (example/app)
      working-directory: example/app
      run: pnpm lint && pnpm build

  build-backend:
    strategy:
      matrix:
        node-version: [16.x, 18.x]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: pnpm/action-setup@v2
      name: Install pnpm
      id: pnpm-install
      with:
        version: 8.6.11
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile]

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.8.1
      with:
        node-version: ${{ matrix.node-version }}
        check-latest: true


    - name: Build (package)
      working-directory: package
      run: pnpm lint && pnpm build

    - name: Build (example)
      working-directory: example/cdk
      run: pnpm lint && pnpm build
