name: Build and Test
 
on:
  pull_request:
    branches:
      - main
  push:
    branches:    
    - main 

  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Use Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 'lts/*'
        check-latest: true
        package-manager-cache: false

    - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      name: Install pnpm
      with:
        run_install: |
          - recursive: true
            cwd: ./example/app
            args: [--no-frozen-lockfile]
        package_json_file: example/app/package.json

    - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2

    - name: Build (example/app)
      working-directory: example/app
      run: bun run lint && pnpm build

  build-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Use Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 'lts/*'
        check-latest: true

    - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      name: Install pnpm
      with:
        run_install: |
          - recursive: true
            cwd: ./package
            args: [--no-frozen-lockfile]
        package_json_file: package/package.json

    - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2

    - name: Build (package)
      working-directory: package
      run: bun run lint && pnpm build

    - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      name: Install pnpm (example/app)
      with:
        run_install: |
          - recursive: true
            cwd: ./example/app
            args: [--no-frozen-lockfile]
        package_json_file: example/app/package.json

    - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      name: Install pnpm (example/cdk)
      with:
        run_install: |
          - recursive: true
            cwd: ./example/cdk
            args: [--no-frozen-lockfile]
        package_json_file: example/cdk/package.json

    - name: Build (example)
      working-directory: example/cdk
      run: bun run lint && pnpm build
